.pic1 {
    position: absolute;
    margin-right: 5px;
    margin-left: 5px;
    top: 30px;
    left: 30px;
}

.pic2 {
    position: absolute;
    margin-right: 5px;
    margin-left: 5px;
    top: 30px;
    left: 30px;
}

.pic3 {
    position: absolute;
    margin-right: 5px;
    margin-left: 5px;
    top: 30px;
    left: 30px;
}

.pic4 {
    position: absolute;
    margin-right: 5px;
    margin-left: 5px;
    top: 30px;
    left: 30px;
}

.rect2 {
    position: absolute;
    margin-right: 5px;
    margin-left: 5px;
    top: 30px;
    left: 30px;
}

.rect2 {
    position: absolute;
    margin-right: 5px;
    margin-left: 5px;
    top: 30px;
    left: 30px;
}

.rect2 {
    position: absolute;
    margin-right: 5px;
    margin-left: 5px;
    top: 30px;
    left: 30px;
}

.rect2 {
    position: absolute;
    margin-right: 5px;
    margin-left: 5px;
    top: 30px;
    left: 30px;
}