.ghost-button1 {
    align-items: center;
    display: inline;
    padding: 70px 90px;
    margin:  190px 410px;
    border: 0px solid #ffffff00;
    color: #ffffff00;
    background-color: #ffffff00;
    text-align: center; 
}

.ghost-button2 {
    align-items: center;
    display: inline;
    padding: 70px 90px;
    margin:  -355px 710px;
    border: 0px solid #ffffff00;
    color: #ffffff00;
    background-color: #ffffff00;
    text-align: center; 
}

.ghost-button3 {
    align-items: center;
    display: inline;
    padding: 58px 100px;
    margin:  -355px 1000px;
    border: 0px solid #ffffff00;
    color: #ffffff00;
    background-color: #ffffff00;
    text-align: center; 
}

.ghost-button4 {
    align-items: center;
    display: inline;
    padding: 22px 100px;
    margin:  -355px 1300px;
    border: 0px solid #ffffff00;
    color: #ffffff00;
    background-color: #ffffff00;
    text-align: center; 
}

.ghost-button5 {
    align-items: center;
    display: inline;
    padding: 70px 90px;
    margin:  -150px 400px;
    border: 0px solid #ffffff00;
    color: #ffffff00;
    background-color: #ffffff00;
    text-align: center; 
}

.ghost-button6 {
    align-items: center;
    display: inline;
    padding: 70px 75px;
    margin:  -150px 710px;
    border: 0px solid #ffffff00;
    color: #ffffff00;
    background-color: #ffffff00;
    text-align: center; 
}

.ghost-button7 {
    align-items: center;
    display: inline;
    padding: 30px 100px;
    margin:  -150px 1000px;
    border: 0px solid #ffffff00;
    color: #ffffff00;
    background-color: #ffffff00;
    text-align: center; 
}

.ghost-button8 {
    align-items: center;
    display: inline;
    padding: 57px 100px;
    margin:  -150px 1300px;
    border: 0px solid #ffffff00;
    color: #ffffff00;
    background-color: #ffffff00;
    text-align: center; 
}