#main {
	margin-top: -5%;
	min-height: 86.2vh;
	background: #00ff0000;
	padding-top: 60px;
}

#titleBox {
	text-align: center;
	animation: fade-in 0.5s ease-out 0.3s both, going-down 0.5s ease-out 0.3s both;
}

:root {
	--main-lightpink: #2572ff;
	--main-lightpurple: #ddd6f3;
	--main-gray: #8d8d8d;
	--main-lightgray: #d9d4cf;
	--warning-red: #2572ff;
}

h1,
.mainText {
	line-height: 5px;
	line-height: 3rem;
	font-size: 40px;
	font-size: 2.5rem;
	margin-top: 5%;
	font-weight: bolder;
}

h3,
.elevatorPitch {
	line-height: 35.2px;
	line-height: 2.2rem;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: lighter;
	color: var(--main-gray);
	font-family: 'Nanum Gothic', sans-serif;
}

.main_img {
	display: inline-block;
	margin: 0 auto;
	margin-top: 20px;
	width: 740px;
	height: 325px;
}


#name-input {
	box-sizing: border-box;
	margin: 20px 30% 10px 35%;
	width: 30%;
}

#name-input > input {
	width: 100%;
	height: 40px;
	border: 1px solid;
	border-color: var(--main-lightgray);
	border-radius: 20px;
	font-weight: lighter;
	font-size: 19.2px;
	font-size: 1.2rem;
	text-align: center;
	opacity: 0;
	animation: fade-in 0.4s ease-out 1.4s both, going-down 0.4s ease-out 1.4s both;
}

#name-input :focus {
	outline: none;
}

.check-name {
	display: inline-block;
	margin: 15px 10%;
	width: 80%;
	text-align: center;
}
.warning {
	color: var(--warning-red);
	font-family: 'Nanum Gothic', sans-serif;
}
.start-wrap {
	margin: 0 20% 0 26.5%;
	margin-bottom: -90%;
	width: 40%;
}
.start {
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-radius: 50px;
	text-align: center;
	background-color: #2572ff;
	border: 0;
	color: #ffffff;
	font-weight: 600;
	font-size: 32px;
	font-size: 2rem;
	animation: fade-in 0.25s ease-out 0.95s both, going-down 0.25s ease-out 0.95s both,
		start-flicker 1.5s infinite;
	cursor: pointer;
	margin-left: 10%;
}
.start:hover,
.start:focus {
	animation-play-state: paused;
	background-color: #f84a70;/*시작 버튼 호버 색*/
	border: none;
	outline: none;
}
.start:active {
	animation-play-state: running;
}

.BottomAdd {
	padding-top: 40px;
}

@media all and (min-width: 768px) {
	.BottomAdd {
		padding-top: 37.5px;
	}
}

@media all and (min-width: 1024px) {
	.BottomAdd {
		padding-top: 40px;
	}
}

@media all and (min-width: 1440px) {
	.BottomAdd {
		padding-top: 50px;
	}
}